---
Language:        Cpp
BasedOnStyle:  LLVM
AlignConsecutiveAssignments: true
AlwaysBreakTemplateDeclarations: true
BraceWrapping:   
  AfterClass:      true
  AfterControlStatement: false
  AfterEnum:       false
  AfterFunction:   true
  AfterNamespace:  false
  AfterObjCDeclaration: false
  AfterStruct:     true
  AfterUnion:      true
  BeforeCatch:     false
  BeforeElse:      false
  IndentBraces:    false
BreakBeforeBinaryOperators: None
BreakBeforeBraces: Custom
BreakBeforeTernaryOperators: true
BreakConstructorInitializersBeforeComma: true
PointerAlignment: Left
IndentWidth:     4
